button.user-logged-in{
    color: #BABEC1;
    font-size: 14px;
}

button.user-logged-in:hover i{
    color: #A5A88B;
}

button.user-logged-in:hover{
    color: #A5A88B;
}




button.user-logged-in img{
    width: 35px;
    height: 35px;
    border-radius: 20px;
    margin: 0px 10px 0px 10px;
}
button.user-logged-in i{
    color: white;
}
/*TODO: this button is longer and screws up the responsive breakpoints. Fix it*/

main.auth{
    background: white;
}
main.auth .blade-content{
    padding: 50px 0px;
}
@media (max-width: 1000px) {
    .header-user button p{
        display: none;
    }
}
@media (max-width: 800px) {
    .user-menu{
        display: none;
    }
}

/*User info and menu-------- */
.user-menu{
    margin-right: 50px;
}
.user-info img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.user-info a{
    color: #26B4BC;
    font-weight: 500;
    font-size: 13px;
    margin-top: 15px;
}

.user-info a:hover{
    text-decoration: underline;
}


.user-info .user-name{
    color: #4A4A4A;
    font-weight: 700;
    font-size: 21px;
    margin-top: 10px;
}
.user-info .user-email{
    color: #787878;
    font-weight: 500;
    font-size: 17px;
    margin-top: 10px;
    margin-top: 10px;
}
nav.auth-nav{
    margin-top: 20px;
}

/*PAGE CONTENT-------- */
.auth-content header{
    background: none;
    height: auto;
}
.auth-content h2{
    font-weight: 500;
    font-size: 21px;
    color: #4A4A4A;
}
.auth-content h2 a{
    color: #27C0C8;
    padding-right: 20px;
}
.auth-content nav{
    margin-top: 20px;
}
.auth-content nav button{
    margin-right: 20px;
    color: #26B4BC;
    font-size: 16px;
}
.auth-content nav button.active{
    color: #787878;
}

/*CONTENT DISPLAY -------- */

.auth-content main{
    background: none;
    margin-top: 20px;
}
.auth-block{
    border-top: 1px solid #DFE8EB;
    padding: 30px 0px 40px 0px;
}
.auth-block h3{
    color: #4A4A4A;
    font-size: 21px;
    font-weight: 700;
}
.auth-block dt{
    color: #9B9B9B;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 20px
}
.auth-block dd{
    color: black;
    font-size: 16px;
    margin-top: 10px;
    line-height: 19px;
}
.auth-block dd p{
    margin-bottom: 10px;
}
.auth-block span.note{
    font-size: 12px;
    color: #9B9B9B;
}
.auth-block dd img{
    max-height: 150px;
    height: auto;
}
.auth-block a{
    color: #27C0C8;
    text-decoration: underline;
}
.auth-block button{
    margin-top: 50px;
}


/*LIST*/
.auth-list .item{
    border-bottom: 1px solid #DFE8EB;
    padding: 20px 0px 20px 0px;
}
.auth-list .item:first-child{
    padding-top: 0px;
}
.auth-list .item h3{
    font-weight: 700;
    font-size: 21px;
    line-height: 16px;
    color: #26B4BC;
}
.auth-list .item h3 span:hover{
    color: #A5A88B;  
}

.auth-list .item img{
    height: 70px;
    width: 70px;
}
.item-content{
    padding: 0px 15px 0px 15px;
}

.item-content address{
    font-weight: 500;
    font-size: 16px;
    color: #787878;
    font-style: normal;
}
.item-content .pill-tag{
    margin-top: 10px;
}
.auth-list-footer{
    background: none;
    padding: 20px 0px 20px 0px;
}

/*REVIEWS*/
.auth-list .list-item-content{
    margin-top: 20px;
}
.item-status-block .status{
    text-transform: uppercase;
    color: #EE1556;
    font-weight: 700;
    font-size: 14px;
    margin-right: 8px;
}
.item-status-block .info{
    text-transform: uppercase;
    color: #8B8B8B;
    font-weight: 500;
    font-size: 14px;
}
.list-item-content .item-text{
    color: black;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    margin-top: 20px;
}

.list-item-content .item-actions{
    margin-top: 20px;
}
.list-item-content .item-actions .first-actions button{
    margin-right: 10px;
}

/*Businesses*/

.business-item-actions button{
    margin-left: 15px
}
.business-item-actions button:first-child{
    margin-left: 0px
}
.business .item-status-block{
    margin-top: 10px;
}
.item.disabled{
    opacity: .5;
}

@media (max-width: 600px) {
    .auth-list .item img{
        height: 50px;
        width: 50px;
    }
    .auth-list .badge{
        height: 50px;
        width: 50px;
        font-size: 24px;
    }
    .auth-list .item h3{
        font-weight: 700;
        font-size: 17px;
        line-height: 19px;
    }
    .auth-list .item button.fav{
        font-size: 16px;
    }
    .auth-list .business{
        align-items: flex-start;
    }
}