button.user-logged-in{
    color: #BABEC1;
    font-size: 14px;
}

button.user-logged-in:hover i{
    color: #A5A88B;
}

button.user-logged-in:hover{
    color: #A5A88B;
}




button.user-logged-in img{
    width: 35px;
    height: 35px;
    border-radius: 20px;
    margin: 0px 10px 0px 10px;
}
button.user-logged-in i{
    color: white;
}
/*TODO: this button is longer and screws up the responsive breakpoints. Fix it*/

main.auth{
    background: white;
}
main.auth .blade-content{
    padding: 50px 0px;
}
@media (max-width: 1000px) {
    .header-user button p{
        display: none;
    }
}
@media (max-width: 800px) {
    .user-menu{
        display: none;
    }
}

/*User info and menu-------------------------------- */
.user-menu{
    margin-right: 50px;
}
.user-info img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.user-info a{
    color: #26B4BC;
    font-weight: 500;
    font-size: 13px;
    margin-top: 15px;
}

.user-info a:hover{
    text-decoration: underline;
}


.user-info .user-name{
    color: #4A4A4A;
    font-weight: 700;
    font-size: 21px;
    margin-top: 10px;
}
.user-info .user-email{
    color: #787878;
    font-weight: 500;
    font-size: 17px;
    margin-top: 10px;
    margin-top: 10px;
}
nav.auth-nav{
    margin-top: 20px;
}

/*PAGE CONTENT-------------------------------------------- */
.auth-content header{
    background: none;
    height: auto;
}
.auth-content h2{
    font-weight: 500;
    font-size: 21px;
    color: #4A4A4A;
}

.auth-content h2 a{
    color: #27C0C8;
    padding-right: 20px;
}

.auth-content h2 a:hover{
    color: #A5A88B;
}

.auth-content nav{
    margin-top: 20px;
}
.auth-content nav button{
    margin-right: 20px;
    color: #26B4BC;
    font-size: 16px;
}

.auth-content nav button:hover{
     color: #A5A88B;
}

.auth-content nav button.active{
    color: #787878;
}

/*CONTENT DISPLAY ---------------------------------------- */

.auth-content main{
    background: none;
    margin-top: 20px;
}
.auth-block{
    border-top: 1px solid #DFE8EB;
    padding: 30px 0px 40px 0px;
}
.auth-block h3{
    color: #4A4A4A;
    font-size: 21px;
    font-weight: 700;
}
.auth-block dt{
    color: #9B9B9B;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 20px
}
.auth-block dd{
    color: black;
    font-size: 16px;
    margin-top: 10px;
    line-height: 19px;
}
.auth-block dd p{
    margin-bottom: 10px;
}
.auth-block span.note{
    font-size: 12px;
    color: #9B9B9B;
}
.auth-block dd img{
    max-height: 150px;
    height: auto;
}
.auth-block a{
    color: #27C0C8;
    
}

.auth-block a:hover{
    text-decoration: underline; 
}

.auth-block button{
    margin-top: 50px;
}


/*LIST --------------------------------------------  */
.auth-list .item{
    border-bottom: 1px solid #DFE8EB;
    padding: 20px 0px 20px 0px;
}
.auth-list .item:first-child{
    padding-top: 0px;
}
.auth-list .item h3 a{
    font-weight: 700;
    font-size: 21px;
    line-height: 16px;
    color: #26B4BC;
}
.auth-list .item h3 a:hover{
    color: #A5A88B;  
}

.auth-list .item img{
    height: 70px;
    width: 70px;
}
.item-content{
    padding: 0px 15px 0px 15px;
}

.item-content address{
    font-weight: 500;
    font-size: 16px;
    color: #787878;
    font-style: normal;
}
.item-content .pill-tag{
    margin-top: 10px;
}
.auth-list-footer{
    background: none;
    padding: 20px 0px 20px 0px;
}

/*REVIEWS --------------------------------------------  */
.auth-list .list-item-content{
    margin-top: 20px;
}
.item-status-block .status{
    text-transform: uppercase;
    color: #EE1556;
    font-weight: 700;
    font-size: 14px;
    margin-right: 8px;
}
.item-status-block .info{
    text-transform: uppercase;
    color: #8B8B8B;
    font-weight: 500;
    font-size: 14px;
}
.list-item-content .item-text{
    color: black;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    margin-top: 20px;
}

.list-item-content .item-actions{
    margin-top: 20px;
}
.list-item-content .item-actions .first-actions button{
    margin-right: 10px;
}

/*Businesses*/

.business-item-actions button{
    margin-left: 15px
}
.business-item-actions button:first-child{
    margin-left: 0px
}
.business .item-status-block{
    margin-top: 10px;
}
.item.disabled{
    opacity: .5;
}

@media (max-width: 600px) {
    .auth-list .item img{
        height: 50px;
        width: 50px;
    }
    .auth-list .badge{
        height: 50px;
        width: 50px;
        font-size: 24px;
    }
    .auth-list .item h3{
        font-weight: 700;
        font-size: 17px;
        line-height: 19px;
    }
    .auth-list .item button.fav{
        font-size: 16px;
    }
    .auth-list .business{
        align-items: flex-start;
    }
}




.title-actions p{
    font-weight:500;
    font-size: 12px;
    color: #000000;
    text-transform: uppercase;
    margin-right: 10px;
}


/*PLANS------------------------------------------  */
.plans{
    margin-top: 20px;
}
.plans .plan{
    padding: 0px 10px 0px 10px;
    border-right: 1px solid #DFE8EB;
}
.plans .plan:first-child{
    padding-left: 0px;
}
.plans .plan:last-child{
    padding-right: 0px;
    border-right: none;
}
.plan-price{
    background: grey;
    padding: 15px 0px 10px 0px;
    color: white;
    position: relative;
    margin-bottom: 40px;
    
}
.plan-price h5{
    text-transform: uppercase;
    font-weight:500;
    font-size: 24px;
}
.plan-price p{
    font-weight:500;
    font-size: 45px;
    letter-spacing: -2px;
    z-index: 1;
}
.plan-price span{
    font-weight:300;
    font-size: 20px;
}
.plan-price span:first-child{
    padding-top: 12px
}
.plan-price span:last-child{
    align-self: flex-end;
    padding-bottom: 10px
}
.plan-price.bronze{
    background: #C08A6F;
}
.plan-price.silver{
    background: #C0C0C0;
}
.plan-price.gold{
    background: #C0A36F;
}
.plan-price.bronze .point{
    background: #C08A6F;
}
.plan-price.silver .point{
    background: #C0C0C0;
}
.plan-price.gold .point{
    background: #C0A36F;
}
.plan-price .point{
    width: 50px;
    height: 50px;
    top:30px;
    transform: rotate(45deg);
    margin-bottom: -30px;
    margin-top: -20px;
    z-index: 0;
}
.plan-points p{
    text-align: center;
    font-size: 15px;
    color: #000000;
    line-height: 18px;
    margin-bottom: 15px;
}
.plan-points button{
    margin-top: auto;
    padding-left: 0px;
    padding-right: 0px;
}


@media (max-width: 600px) {
    .title-actions p{
        display: none;
    }
    .plans{
        flex-direction: column;
    }
    .plans>.plan{
        flex-direction: row;
        margin: 0px 0px 0px 0px;
        padding: 15px 0px 15px 0px;
        border: none;
        border-bottom: 1px solid #DFE8EB;
    }
    .plans>.plan:last-child{
        border: none;
    }
    .plan-price{
        width: 130px;
        height: 120px;
        margin: 0px 40px 0px 0px;
        padding: 0px;
    }
    .plan-price h5{
        font-size: 18px;
        z-index: 1;
    }
    .plan-price p{
        font-size: 35px;
        letter-spacing: 0px;
    }
    .plan-price span:first-child{
        padding-top: 7px
    }
    .plan-price span:last-child{
        align-self: flex-end;
        padding-bottom: 6px
    }
    .plan-price .point{
        width: 50px;
        height: 50px;
        position: absolute;
        right: -10px;
        top: 32px;
        transform: rotate(45deg);
        margin-bottom: 0px;
        margin-top: 0px;
        z-index: 0;
    }
    .plan-points p{
        text-align: left;
    }
    .plan-points button{
        width: 130px;
        margin: 10px 0px 0px 0px;
    }
}