/*** FLEXBOX--------*/

/*DIRECTION*/
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}

/*ALIGNMENT OF CHILDREN*/
.flex-centre{
/*  column = vertical centre
    row =  horizontal centre */
    justify-content: center;
}
.flex-space-between{
    justify-content: space-between;
}
.flex-middle{
/*  column = horizontal centre
    row =  vertical centre */
    align-items: center;
}
.flex-end{
/*  column = horizontal centre
    row =  vertical centre */
    align-items: flex-end;
}
.flex-wrap{
    flex-wrap: wrap;
}




/*CHILD ITEMS*/
.flex-grow{
/*  child instructed to be as big as posible */
    flex-grow: 1;
}
.flex-noshrink{
    flex-shrink: 0;
}


button:focus {outline:0;}

