/*NEWSLETTER SIGNUP---------*/
.newsletter-signup{
    padding: 40px 0px 40px 0px;
    background-color: #4A4A4A;
    color: #BABEC1;

}



.newsletter-signup .blade-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.newsletter-signup-content{
/*    flex enabled here so it can be changed with media query*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}
.newsletter-signup-form{
    /*    flex enabled here so it can be changed with media query*/
    flex-grow: 1;
    text-align: right;
}
.newsletter-signup-title{
    font-size: 26px;
    font-weight: 400;
    line-height: 32px;
    color: #ffffff;
}
.newsletter-signup-title .green{
    color: #BDDC05;
}
.newsletter-signup-text{
    width: 290px;
    margin-right: 30px;
}

.newsletter-signup-input{
    width: 70%;
}
.newsletter-signup-submit{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    padding: 0px 20px 0px 15px;
}

.newsletter-signup-submit:hover{

    background-color: #A5A88B;

}

.newsletter-signup-submit.active{

    background-color: #A5A88B;

}

@media (max-width: 1000px) {
    .newsletter-signup-content{
        flex-direction: column;
        flex-grow: 0;
    }
    .newsletter-signup-title{
        margin-bottom: 20px;
    }
    .newsletter-signup-input{
/*        width: 350px;*/
    }
}
@media (max-width: 750px) {
    .newsletter-signup .blade-content{
        flex-direction: column;
    }
    .newsletter-signup-form{
        text-align: left;
        margin-top: 30px;
    }
    .newsletter-signup-input{
        width: 200px;
    }
}
