/*
Colour palette

GREEN       #BDDC05
BLUE        #26B4BC
PINK        #EE1556
BROWN       #A5A88B
ORANGE      #F5A623
RED         #FF5B4F
DARK GREY   #4A4A4A
GREY        #E2E2E2
NOT BLACK   #0F1213
-------------------
DARK GREY 2 #787878
MID GREY    #9B9B9B
SILVER      #BABEC1
L.B.GREY    #DFE8EB
DARK BLUE   #1E8D93
DARK RED    #9E3932
DARK GREEN  #889F00
DARK ORANGE #FA7F1C
BRONZE      #C08A6F
GOLD        #C0A36F


*/

/*PAGE ---------------------------------------------- */

html{
    height: 100%;
}
body {
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #444444;
    font-size: 14px;
}
span{
    font-family: Roboto;
}
button:hover{
    cursor: pointer;
}
nav{
    background: none;
}
/*PAGE HEADER ---------------------------------------------- */

body>header{
    background: #0f1213;
    height: 80px;
    transition: all 0.3s;
}
body>header.open{
    height: 120px;
    background: #bada55;
}
body>header .blade-content{
    position:relative;
}

/*.......... Header forms .......... */

.search-form input{
    background-color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    height: 50px;
    margin-right: -4px;
    width: 200px;
    transition: all 0.3s;
}
.search-form input.location{
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    padding-left: 25px;
}
.search-form input.context{
    border-left: 2px solid #D8D8D8;
    padding-left: 20px;
}
.search-form button{
    background-color: #26B4BC;
    height: 50px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    color: #ffffff;
    width: 60px;
    font-size: 23px;
    position: relative;
    transition: all 0.3s;
}
.search-form button i{
    position: absolute;
    top: 12px;
    left: 18px;
    background: none;
    transition: all 0.3s;
}
.search-form button:hover{
    background: #A5A88B;
}
body>header button.search-toggle{
    color: #ffffff; 
    font-size: 30px;
    padding-bottom: 2px;
    margin-right: 20px;
    display: none;
}
body>header button.search-toggle:hover{
    color: #26B4BC; 
}

/* .......... Toggle search form .......... */

.toggle-search{
    overflow: hidden;
    height: 0px;
    background: #0f1213;
    transition: all 0.3s;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
/*    padding-top: 5px;*/
}
.toggle-search.open{
    height: 115px;
}
.toggle-search input{
    padding-left: 20px;
    background: white;
    height: 40px;
}
.toggle-search input.location{
    border-radius: 25px;
    margin-bottom: 10px
}
.toggle-search input.context{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.toggle-search button{
    background-color: #26B4BC;
    height: 40px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    color: #ffffff;
    width: 60px;
    font-size: 23px;
    transition: all 0.3s;
}
.toggle-search button i{
    padding-bottom:9px;
    padding-right: 5px;
    background: none;
}

/*.......... Signed in USER .......... */

nav.signed-in-nav{
    position: absolute;
    top: 85px;
    right: 0px;
    overflow: hidden;
    height: 0px;
    transition: all 0.3s;
}
nav.signed-in-nav.open{
    height: 180px;
}

/*.......... SKINNY header .......... */
body>header.skinny{
    height: 45px;
}
header.skinny .search-form input{
    font-size: 16px;
    height: 35px;
}
header.skinny .search-form button{
    height: 35px;
    width: 55px;
    font-size: 23px;
}
header.skinny .search-form button i{
    top: 5px;
    left: 15px;
}


/*PAGE MAIN ---------------------------------------------- */

body>main{
    width: 100%;
    background-color: #E2E2E2;
    flex: 1;
}

/*PAGE FOOTER ------------------------------------------ */

footer{
    background-color: #000000;
    color: #9B9B9B;
    bottom:0;
}

/*.......... Footer blocks .......... */
.footer-blocks{
    margin-bottom: 40px;
}
.footer-block{
    padding: 30px 20px 0 0;
}
.footer-block:last-child{
    padding-right: 0px;
}
.footer-block h6{
    border-top: 2px solid;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    font-size: 14px;
    margin: 0 0 10px 0;
    padding-top: 10px;
}
.footer-block ul{
    list-style: none;
    width: 180px;
}
.footer-block ul li{
    margin: 0px;
    padding: 0px;
}
.footer-block ul li a{
    color: #9B9B9B;
    font-size: 13px;
}
.footer-block ul li a:hover{
    color: white;
}
.footer-block.green h6{
    border-top-color: #BDDC05;
}
.footer-block.blue h6{
    border-top-color: #26B4BC;
}
.footer-block.pink h6{
    border-top-color: #EE1556;
}

/*.......... Footer sole .......... */
.footer-sole{
    margin-bottom: 30px;
}
.footer-sole-terms{
    font-size: 11px;
    color: white;
}
.footer-sole-terms a{
    color: #BDDC05;
}
.footer-sole-terms a:hover{
    text-decoration: underline;
}
.footer-sole-terms a.active{
    text-decoration: underline;
}
.footer-sole-terms p{
    margin-right: 15px
}

/*.......... Footer - Skinny .......... */
footer.skinny .footer-sole{
    margin: 0px 0px 5px 0px;
}


/*TITLE STRIP ---------------------------------------------- */

.title-strip{
    background-color: #4A4A4A;
    color: #ffffff;
}
.title-strip h1{
    font-weight: 400;
    font-size: 26px;
    margin: 10px 0px 10px 0px;
}
.title-strip h1 span{
    color: #BDDC05
}
.title-strip .content{
    font-size: 22px;
}
.title-strip .content p{
    margin-right: 10px;
}


/*NEWSLETTER SUBSCRIBE --------------------------------------- */
.newsletter-signup{
    padding: 40px 0px;
    background-color: #4A4A4A;
    color: #BABEC1;


}
.newsletter-signup .blade-content{
    -webkit-column-count:3;
    -webkit-column-gap: 50px;
    flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
}
.c-block{
    display: inline-block;
}
.newsletter-signup h3{
    font-size: 26px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 20px
}
.newsletter-signup h3 .green{
    color: #BDDC05;
}
.newsletter-signup-text{

}
.newsletter-signup-form{
    width: 100%
}

/*form*/
.newsletter-signup form input{
    background-color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    height: 50px;
    margin-right: -4px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    padding-left: 25px;
    transition: all 0.3s;
}
.newsletter-signup form button{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    padding: 0px 20px 0px 15px;
    background-color: #26B4BC;
    height: 50px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    color: #ffffff;
    width: 120px;
    font-size: 20px;
}
.newsletter-signup-form button:hover{
    background: #A5A88B;
}
/*
.newsletter-signup-submit:hover{
    background-color: #A5A88B;
}
.newsletter-signup-submit.active{
    background-color: #A5A88B;
}
*/









/*MEDIA QUERY ############################################### */

/* .......... Less than 1200px wide .......... */
@media (max-width: 1200px) {
    /*Newsletter*/
    .newsletter-signup .blade-content{
        -webkit-column-count:2;
    }
    .newsletter-signup-form{
        /*make the column wrap proper*/
        height: 100px;
    }
}
/* .......... Less than 1000px wide .......... */
@media (max-width: 1000px) {
    button.user-signed-in p{
        display: none;
    }

}
/* .......... Less than 800px wide .......... */
@media (max-width: 800px) {
    /*header*/
    body>header{
        height: 60px;
    }
    .search-form input{
        width: 135px;
        height: 40px;
        padding-left: 15px;
        font-size: 16px;
    }
    .search-form button{
        height: 40px;
        width: 45px;
        font-size: 23px;
    }
    .search-form button i{
        top: 7px;
        left: 10px;
    }
    header.skinny .search-form button{
        width: 45px;
    }
    header.skinny .search-form button i{
/*        top: 7px;*/
        left: 10px;
    }
    .search-form input.context{
        padding-left: 10px !important;
    }
    
    /*title strip*/
    .title-strip h1{
        font-size: 22px;
        margin: 8px 0px 8px 0px;
    }
    .title-strip p{
        display: none;
    }
    
    /*Newsletter*/
    .newsletter-signup{
        text-align:center;
    }

    .newsletter-signup .blade-content{
        -webkit-column-count:1;
        flex-flow: row-reverse wrap;
  -webkit-flex-flow: row-reverse wrap;
    }
    .newsletter-signup h3{
        max-width: 500px;
    }
    .newsletter-signup-text{
        max-width: 500px;
    }
    .newsletter-signup-form{
        height: auto;
        margin-top: 30px;
        max-width: 500px;
    }
    
    
}
/* .......... Less than 600px wide .......... */
@media (max-width: 600px) {
    /*header*/
    header .search-form{
        display: none;
    }
    body>header button.search-toggle{
        display: block;
    }
    
    /*title strip*/
    .title-strip h1{
        font-size: 18px;
        margin: 6px 0px 6px 0px;
    }
    
}

/* .......... Less than 667px wide .......... */
@media (max-width: 667px) {
    .footer-block{
        width:50%;
    }
}
/* .......... Less than 568px wide .......... */

@media (max-width: 568px) {

}
/* .......... Less than 480px wide .......... */
@media (max-width: 480px) {
    .footer-block{
        width:100%;
        padding-right: 0;
    }
}









